{% extends 'base.html' %}

{% block content %}
  <div class="flex flex-col w-full">
    <div class="bg-white shadow p-6 rounded-lg space-y-4">
      <h1 class="text-xl font-bold mb-6">4. Perkalian dengan 2 dan 5</h1>
      <p>Ada dua sifat penting dalam perkalian dengan 2 dan 5:</p>
      <ul class="list-disc list-outside pl-6 space-y-2">
        <li>
          Kalau dikalikan <strong>2</strong>, hasilnya seperti menghitung dua-dua.<br />
          <strong>Contoh:</strong>
          <div class="bg-gray-100 p-4 rounded text-center text-lg mt-2">
            <p>1 × 2 = 2</p>
            <p>2 × 2 = 4</p>
            <p>3 × 2 = 6</p>
            <p>4 × 2 = 8</p>
            <p>5 × 2 = 10</p>
            <p>...</p>
          </div>
        </li>
        <li>
          Kalau dikalikan <strong>5</strong>, hasilnya selalu berakhiran 0 atau 5.<br />
          <strong>Contoh:</strong>
          <div class="bg-gray-100 p-4 rounded text-center text-lg mt-2">
            <p>1 × 5 = 5</p>
            <p>2 × 5 = 10</p>
            <p>3 × 5 = 15</p>
            <p>4 × 5 = 20</p>
            <p>5 × 5 = 25</p>
            <p>...</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="grid grid-rows-1 grid-cols-2 gap-4 mt-6">
      <a href="{% url 'materi_detail' 3 %}" class="flex justify-start items-center gap-2 block bg-gray-300 text-gray-800 px-4 py-2 rounded hover:bg-gray-400 font-bold"><i class="fa-solid fa-backward"></i><div>Kembali ke Materi 3</div></a>
      <a href="{% url 'materi_detail' 5 %}" class="flex justify-end items-center gap-2 block bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 font-bold"><div>Lanjut ke Materi 5</div><i class="fa-solid fa-forward"></i></a>
    </div>
  </div>
{% endblock %}
