{% extends 'base.html' %}

{% block content %}
  <div class="flex flex-col w-full">
    <div class="bg-white shadow p-6 rounded-lg space-y-4">
      <h1 class="text-xl font-bold mb-6">3. Perkalian dengan 1 dan 0</h1>
      <p>Ada dua sifat penting dalam perkalian:</p>
      <ul class="list-disc list-outside pl-6 space-y-2">
        <li>
          Kalau dikalikan <strong>1</strong>, hasilnya tetap.<br />
          <strong>Contoh:</strong>
          <div class="bg-gray-100 p-4 rounded text-center text-lg mt-2">
            <p>5 × 1 = 5</p>
          </div>
        </li>
        <li>
          Kalau dikalikan <strong>0</strong>, hasilnya jadi <strong>0</strong>.<br />
          <strong>Contoh:</strong>
          <div class="bg-gray-100 p-4 rounded text-center text-lg mt-2">
            <p>5 × 0 = 0</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="grid grid-rows-1 grid-cols-2 gap-4 mt-6">
      <a href="{% url 'materi_detail' 2 %}" class="flex justify-start items-center gap-2 block bg-gray-300 text-gray-800 px-4 py-2 rounded hover:bg-gray-400 font-bold"><i class="fa-solid fa-backward"></i><div>Kembali ke Materi 2</div></a>
      <a href="{% url 'materi_detail' 4 %}" class="flex justify-end items-center gap-2 block bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 font-bold"><div>Lanjut ke Materi 4</div><i class="fa-solid fa-forward"></i></a>
    </div>
  </div>
{% endblock %}
